<%= form_for(@room) do |f| %>
  <div class="form-group">
    <%= f.label :name, class: 'sr-only' %>
    <%= f.text_field :name, placeholder: 'Name', row: 0, class: 'form-control' %>
  </div>
  <%= f.button('Create', class: 'btn btn-info') %>
<% end %>